<a href="https://colab.research.google.com/github/panchaldhruv27223/DA_EDA/blob/main/EDA_Lab_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Name** : Dhruv Panchal
### **SID** : *202411042*

In [2]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

# Dataset Link: https://www.kaggle.com/datasets/mrmars1010/imdb-top250-india


#### download dataset from the given link and upload to the drive.

In [3]:
from google.colab import files
uploaded = files.upload()

Saving IMdB_India_Top250.csv to IMdB_India_Top250.csv

### **Q 1. Data Inspection**

  > a. Load the dataset into a pandas DataFrame and display the first 10 rows.

  > b. Use the info() function to get an overview of the dataset, including data types and non-null counts.

  > c. Display the summary statistics for numerical columns using describe().

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("/content/IMdB_India_Top250.csv")
df.head(10)

,Movie name,Year of release,Watch hour,Rating,Ratedby,Film Industry,Genre,Director,Box office collection,User reviews,Awards,Description,Streaming platform
0,12th Fail,2023,2 hours 27 minutes,8.9,126K,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,"$138,288.00",945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV
1,Gol Maal,1979,2 hours,8.5,20K,Bollywood (Hindi),Comedy,Hrishikesh Mukherjee,NIL,48,3 wins & 1 nomination,A man's simple lie to secure his job escalates...,"Amazon Prime Video, YouTube, Zee5"
2,Maharaja,2024,2 hours 30 minutes,8.6,37K,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,"$975,543.00",370,2 nominations,A barber seeks vengeance after his home is bur...,Netflix
3,Nayakan,1987,2 hours 25 minutes,8.7,25K,Kollywood (Tamil),"Crime, Drama",Mani Ratnam,"$120,481.93",237,7 wins & 1 nomination,A common man's struggles against a corrupt pol...,"Amazon Prime Video, YouTube"
4,The World of Apu,1959,1 hour 45 minutes,8.4,17K,Bengali Cinema,Drama,Satyajit Ray,"$134,241.00",62,4 wins & 2 nominations total,This final installment in Satyajit Ray's Apu T...,"Amazon Prime Video, Hoichoi"
5,Anbe Sivam,2003,2 hours 40 minutes,8.6,26K,Kollywood (Tamil),"Drama, Comedy",Sundar C.,NIL,115,2 wins & 3 nominations,"Two men, one young and arrogant, the other dam...",Disney+ Hotstar
6,Pariyerum Perumal,2018,2 hours 34 minutes,8.7,19K,Kollywood (Tamil),"Drama, Social",Mari Selvaraj,NIL,169,11 wins & 5 nominations,A law student from a lower caste begins a frie...,Amazon Prime Video
7,3 Idiots,2009,2 hours 50 minutes,8.4,441K,Bollywood (Hindi),"Comedy, Drama",Rajkumar Hirani,"$60,262,836.00",1000,64 wins & 30 nominations,Two friends are searching for their long lost ...,"Netflix, Amazon Prime Video"
8,#Home,2021,2 hours 38 minutes,8.8,16K,Mollywood (Malayalam),"Drama, Family",Rojin Thomas,NIL,541,3 wins & 2 nominations,Oliver Twist (Indrans) wants to be tech-savvy ...,Amazon Prime Video
9,Black Friday,2004,2 hours 23 minutes,8.4,22K,Bollywood (Hindi),"Crime, Drama, Thriller",Anurag Kashyap,"$1,610,897.00",88,1 win & 7 nominations,A film about the investigations following the ...,YouTube

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Movie name             250 non-null    object
 1   Year of release        250 non-null    int64
 2   Watch  hour            250 non-null    object
 3   Rating                 250 non-null    float64
 4   Ratedby                250 non-null    object
 5   Film Industry          250 non-null    object
 6   Genre                  250 non-null    object
 7   Director               250 non-null    object
 8   Box office collection  250 non-null    object
 9   User reviews           250 non-null    int64
 10  Awards                 250 non-null    object
 11  Description            250 non-null    object
 12  Streaming platform     250 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 25.5+ KB

In [7]:
len(df)

250

In [8]:
df.shape

(250, 13)

### dataset contain the 250 row(examples) and total 13 columns. and we are able to see that columns are not contaning the missing values.

## summary statistics

In [11]:
df.describe(include="number")

       Year of release      Rating  User reviews
count       250.000000  250.000000     250.00000
mean       2008.388000    8.190400     222.18400
std          14.708597    0.252513     388.15949
min        1955.000000    7.700000      10.00000
25%        2003.000000    8.000000      39.00000
50%        2013.000000    8.150000      94.50000
75%        2018.000000    8.300000     231.50000
max        2024.000000    9.100000    3300.00000

In [12]:
df.dtypes

Movie name                object
Year of release            int64
Watch  hour               object
Rating                   float64
Ratedby                   object
Film Industry             object
Genre                     object
Director                  object
Box office collection     object
User reviews               int64
Awards                    object
Description               object
Streaming platform        object
dtype: object

### **Q 2. Data Cleaning**
  > a. Identify and handle any missing values in the dataset. Drop rows or fill missing values as appropriate.

  > b. Remove any duplicate rows from the dataset. Ensure that the columns related to rankings, years, or ratings are in the correct numerical format.

In [13]:
df.isnull().sum()

Movie name               0
Year of release          0
Watch  hour              0
Rating                   0
Ratedby                  0
Film Industry            0
Genre                    0
Director                 0
Box office collection    0
User reviews             0
Awards                   0
Description              0
Streaming platform       0
dtype: int64

In [16]:
df.dtypes

Movie name                object
Year of release            int64
Watch  hour               object
Rating                   float64
Ratedby                   object
Film Industry             object
Genre                     object
Director                  object
Box office collection     object
User reviews               int64
Awards                    object
Description               object
Streaming platform        object
dtype: object

In [24]:
df.columns

Index(['Movie name', 'Year of release', 'Watch  hour ', 'Rating', 'Ratedby',
       'Film Industry', 'Genre', 'Director', 'Box office collection',
       'User reviews', 'Awards', 'Description', 'Streaming platform'],
      dtype='object')

In [26]:
col = df.columns
col

Index(['Movie name', 'Year of release', 'Watch  hour ', 'Rating', 'Ratedby',
       'Film Industry', 'Genre', 'Director', 'Box office collection',
       'User reviews', 'Awards', 'Description', 'Streaming platform'],
      dtype='object')

In [33]:
df.columns = [(((i.lower()).strip()).replace("  "," ")).replace(" ","_") for i in list(col)]
df.columns

Index(['movie_name', 'year_of_release', 'watch_hour', 'rating', 'ratedby',
       'film_industry', 'genre', 'director', 'box_office_collection',
       'user_reviews', 'awards', 'description', 'streaming_platform'],
      dtype='object')

In [34]:
df["watch_hour"]

0      2 hours 27 minutes
1                2 hours
2      2 hours 30 minutes
3      2 hours 25 minutes
4       1 hour 45 minutes
              ...
245    2 hours 59 minutes
246              2 hours
247    2 hours 40 minutes
248     2 hours 8 minutes
249    2 hours 33 minutes
Name: watch_hour, Length: 250, dtype: object

In [36]:
df["watch_hour"].unique()

array(['2 hours 27 minutes', '2 hours ', '2 hours 30 minutes',
       '2 hours 25 minutes', '1 hour 45 minutes', '2 hours 40 minutes',
       '2 hours 34 minutes', '2 hours 50 minutes', '2 hours 38 minutes',
       '2 hours 23 minutes', '2 hours 49 minutes', '2 hours 37 minutes',
       '2 hours 15 minutes', '2 hours 44 minutes', '2 hours 4 minutes',
       '2 hours 32 minutes', '2 hours 42 minutes', '2 hours 18 minutes',
       '2 hours 2 minutes', '2 hours 41 minutes', '2 hours 33 minutes',
       '2 hours 46 minutes', '1 hour 57 minutes', '3 hours 12 minutes',
       '2 hours 21 minutes', '2 hours 43 minutes', '3 hours 1minute',
       '2 hours 12 minutes', '1 hour 50 minutes', '2 hours 53 minutes',
       '3 hours 4 minutes', '2 hours 5 minutes', '2 hours 51 minutes',
       '2 hours 26 minutes', '2 hours 36 minutes', '2 hours 28 minutes',
       '3 hours 7 minutes', '5 hours 21 minutes', '3 hours 6 minutes',
       '3 hours 3 minutes', '2 hours 57 minutes', '2 hours 39 minutes',
       '2 hours 35 minutes', '2 hours 20 minutes', '2 hours 56 minutes',
       '2 hours 19 minutes', '2 hours 9 minutes', '2 hours 16 minutes',
       '2 hours 54 minutes', '3 hours 9 minutes', '1 hour 44 minutes',
       '2 hours 59 minutes', '2 hours 10 minutes', '2 hours 6 minutes',
       '2 hours 48 minutes', '3 hours 44 minutes', '2 hours 55 minutes',
       '2 hours 11 minutes', '1 hour 49 minutes', '2 hours 31 minutes',
       '2 hours 14 minutes', '1 hour 58 minutes', '2 hours 24 minutes',
       '2 hours 47 minutes', '1 hour 40 minutes', '2 hours 17 minutes',
       '3 hours 5 minutes', '3 hours 17 minutes', '2 hours 22 minutes',
       '2 hours 52 minutes', '2 hours 8 minutes', '2 hours 45 minutes',
       '1 hour 53 minutes', '2 hours 7 minutes', '1 hour 35 minutes',
       '1 hour 47 minutes', '3 hours 2 minutes', '1 hour 42 minutes',
       '1 hour 36 minutes'], dtype=object)

In [42]:
df["watch_hour"].str.split(" ").str[0]

0      2
1      2
2      2
3      2
4      1
      ..
245    2
246    2
247    2
248    2
249    2
Name: watch_hour, Length: 250, dtype: object

In [49]:
df["watch_hour"].str.split(" ").str[0].unique()

array(['2', '1', '3', '5'], dtype=object)

In [43]:
df["watch_hour"].str.split(" ").str[1]

0      hours
1      hours
2      hours
3      hours
4       hour
       ...
245    hours
246    hours
247    hours
248    hours
249    hours
Name: watch_hour, Length: 250, dtype: object

In [44]:
df["watch_hour"].str.split(" ").str[2]

0      27
1
2      30
3      25
4      45
       ..
245    59
246
247    40
248     8
249    33
Name: watch_hour, Length: 250, dtype: object

In [51]:
df["watch_hour"].str.split(" ").str[2].unique()

array(['27', '', '30', '25', '45', '40', '34', '50', '38', '23', '49',
       '37', '15', '44', '4', '32', '42', '18', '2', '41', '33', '46',
       '57', '12', '21', '43', '1minute', '53', '5', '51', '26', '36',
       '28', '7', '6', '3', '39', '35', '20', '56', '19', '9', '16', '54',
       '59', '10', '48', '55', '11', '31', '14', '58', '24', '47', '17',
       '22', '52', '8'], dtype=object)

In [54]:
((df["watch_hour"].str.split(" ").str[2]).replace("",0).replace("1minute",1)).astype(int)

0      27
1       0
2      30
3      25
4      45
       ..
245    59
246     0
247    40
248     8
249    33
Name: watch_hour, Length: 250, dtype: int64

In [55]:
df["total_minutes"] = ((df["watch_hour"].str.split(" ").str[0]).astype(int))*60 + ((df["watch_hour"].str.split(" ").str[2]).replace("",0).replace("1minute",1)).astype(int)
df.head(3)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,box_office_collection,user_reviews,awards,description,streaming_platform,total_minutes
0,12th Fail,2023,2 hours 27 minutes,8.9,126K,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,"$138,288.00",945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,147
1,Gol Maal,1979,2 hours,8.5,20K,Bollywood (Hindi),Comedy,Hrishikesh Mukherjee,NIL,48,3 wins & 1 nomination,A man's simple lie to secure his job escalates...,"Amazon Prime Video, YouTube, Zee5",120
2,Maharaja,2024,2 hours 30 minutes,8.6,37K,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,"$975,543.00",370,2 nominations,A barber seeks vengeance after his home is bur...,Netflix,150

In [56]:
df["watch_hour"] = df["total_minutes"]/60
df.head(2)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,box_office_collection,user_reviews,awards,description,streaming_platform,total_minutes
0,12th Fail,2023,2.45,8.9,126K,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,"$138,288.00",945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,147
1,Gol Maal,1979,2.00,8.5,20K,Bollywood (Hindi),Comedy,Hrishikesh Mukherjee,NIL,48,3 wins & 1 nomination,A man's simple lie to secure his job escalates...,"Amazon Prime Video, YouTube, Zee5",120

In [57]:
df.dtypes

movie_name                object
year_of_release            int64
watch_hour               float64
rating                   float64
ratedby                   object
film_industry             object
genre                     object
director                  object
box_office_collection     object
user_reviews               int64
awards                    object
description               object
streaming_platform        object
total_minutes              int64
dtype: object

In [59]:
df["ratedby"].unique()

array(['126K', '20K', '37K', '25K', '17K', '26K', '19K', '441K', '16K',
       '22K', '13K', '59K', '41K', '8.8K', '8.2K', '209K', '5.4K', '39K',
       '215K', '23K', '125K', '38K', '7.3K', '12K', '42K', '44K', '5.9K',
       '34K', '219K', '71K', '45K', '15K', '5.7K', '24K', '6.5K', '97K',
       '105K', '52K', '73K', '8.7K', '48K', '6.2K', '87K', '7.4K', '18K',
       '104K', '8.6K', '9.3K', '89K', '99K', '7K', '65K', '61K', '51K',
       '86K', '36K', '14K', '5.5K', '204K', '8.1K', '122K', '76K', '27K',
       '46K', '7.8K', '88K', '8K', '66K', '11K', '253K', '69K', '32K',
       '7.6K', '123K', '83K', '117K', '7.5K', '49K', '10K', '6.4K', '9K',
       '8.9K', '78K', '60K', '7.7K', '131K', '58K', '8.5K', '28K', '56K',
       '100K', '29K', '9.1K', '6.1K', '9.6K', '7.9K', '6.6K', '6.3K',
       '8.4K', '6.8K', '5.3K', '152K', '9.9K', '33K', '40K', '139K',
       '62K', '8.3K', '6.9K', '9.7K'], dtype=object)

In [65]:
df["ratedby"].str.split("K")

0      [126, ]
1       [20, ]
2       [37, ]
3       [25, ]
4       [17, ]
        ...
245     [17, ]
246    [5.3, ]
247     [17, ]
248    [6.2, ]
249    [6.3, ]
Name: ratedby, Length: 250, dtype: object

In [66]:
type(df["ratedby"].str.split("K"))

pandas.core.series.Series

In [70]:
df["ratedby_in_k"] = (df["ratedby"].str.split("K").str[0]).astype(float)

In [71]:
df.head(2)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,box_office_collection,user_reviews,awards,description,streaming_platform,total_minutes,ratedby_in_k
0,12th Fail,2023,2.45,8.9,126K,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,"$138,288.00",945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,147,126.0
1,Gol Maal,1979,2.00,8.5,20K,Bollywood (Hindi),Comedy,Hrishikesh Mukherjee,NIL,48,3 wins & 1 nomination,A man's simple lie to secure his job escalates...,"Amazon Prime Video, YouTube, Zee5",120,20.0

In [72]:
df["ratedby"] = (df["ratedby_in_k"]*1000).astype(int)
df.dtypes

movie_name                object
year_of_release            int64
watch_hour               float64
rating                   float64
ratedby                    int64
film_industry             object
genre                     object
director                  object
box_office_collection     object
user_reviews               int64
awards                    object
description               object
streaming_platform        object
total_minutes              int64
ratedby_in_k             float64
dtype: object

In [73]:
df.drop(["total_minutes","ratedby_in_k"],axis=1,inplace=True)

In [74]:
df.head(2)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,box_office_collection,user_reviews,awards,description,streaming_platform
0,12th Fail,2023,2.45,8.9,126000,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,"$138,288.00",945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV
1,Gol Maal,1979,2.00,8.5,20000,Bollywood (Hindi),Comedy,Hrishikesh Mukherjee,NIL,48,3 wins & 1 nomination,A man's simple lie to secure his job escalates...,"Amazon Prime Video, YouTube, Zee5"

In [77]:
df["box_office_collection"].unique()

array(['$138,288.00', ' NIL', '$975,543.00', '$120,481.93', '$134,241.00',
       '$60,262,836.00', '$1,610,897.00', '$843,373.49', '$398,615.00',
       '$1,312,005.00', '$7,523,995.00', '$181,001.00', '$21,897,373.00',
       '$108,886.00', '$303,723,636.00', '$204,669.00', '$1,807,228.92',
       '$616,333.00', '$633.00', '$1,943.00', '$3,841.00', '$522,938.00',
       '$379,728.00', '$2,208,029.00', '$13,076,265.00', '$3,373,493.98',
       '$40,194.00', '$472,865.00', '$2,409,638.55', '$135,342.00',
       '$180,217.00', '$11,939.76', '$7,228,915.66', '$4,454.00',
       '$9,400,000.00', '$4,384,642.00', '$17,551,296.00', '$279,078.00',
       '$3,417.00', '$5,192,743.00', '$273,191.00', '$62,475,342.00',
       '$6,024,096.39', '$377,803.00', '$3,137,716.00', '$1,953,889.00',
       '$62,313.00', '$3,311,391.00', '$1,691,980.00', '$586,973.00',
       '$546,792.00', '$3,784,106.00', '$40,311.00', '$602,409.64',
       '$21,505,244.00', '$1,266,341.00', '$400,000.00',
       '$100,370,104.00', '$4,652.00', '$1,724,806.00', '$3,135,150.00',
       '$29,837,637.00', '$288,733.00', '$24,274.00', '$6,879,098.00',
       '$2,973,347.00', '$246,551.00', '$4,490,134.00', '$39,346,577.00',
       '$5,746,385.54', '$434,862.00', '$734,514.00', '$12,140,087.00',
       '$22,361.00', '$4,547,765.00', '$140,853,810.00', '$2,178.00',
       '$238,484.00', '$502,391.00', '$459,234.00', '$651,748.00',
       '$3,012,048.19', '$17,897,527.00', '$963,855.42', '$10,800,778.00',
       '$316,221.00', '$3,256,911.00', '$254,158,390.00',
       '$121,126,188.00', '$4,216,867.47', '$180,180.00', '$36,144.58',
       '$16,466,144.00', '$118,072.29', '$129,916.00', '$184.00',
       '$5,880.00', '$5,301,204.82', '$61,445.78', '$161,434.00',
       '$75,690.00', '$647,074.00', '$96,878.00', '$921,007.00',
       '$7,664.00', '$2,364,294.00', '$1,404,307.00', '$90,361.45',
       '$551,820.00', '$210,780.00', '$81,367.00', '$4,997.00',
       '$6,421,597.00', '$96,385.54', '$327.00', '$65,317.00',
       '$1,204,819.28', '$1,475,000.00', '$565,759.00', '$185,586.00',
       '$26,125,610.00', '$37,253.00', '$62,744.00', '$132,530.12',
       '$28,299,498.00', '$5,088,713.00', '$2,406,221.00', '$253,012.05',
       '$46,083.00', '$144,578.31', '$10,065,630.00', '$803,887.00',
       '$846,407.00', '$957.00', '$42,345,360.00', '$1,325,301.20',
       '$884,267.00', '$4,047,969.00', '$366,674.00', '$140,981.00',
       '$28,903,047.00', '$13,200,241.00', '$2,080,758.00', '$350,534.00',
       '$292,732.00', '$180,722.89', '$3,247.00', '$29,045,020.00',
       '$89,123,940.00', '$1,740,483.00', '$41,635,636.00', '$12,195.00',
       '$10,230.00', '$279,408.00', '$151,226.00', '$4,961,424.00',
       '$24,701,637.00', '$1,109,943.00', '$10,299,150.00', '$517,575.00',
       '$1,106,211.00', '$274,675.00', '$3,817,585.00', '$24,548,038.00',
       '$158,787.00', '$11,533,057.00', '$5,859,242.00', '$11,621,785.00',
       '$5,138,042.00', '$1,875,477.00', '$145,522.00', '$7,888.00',
       '$3,614,457.83', '$9,323,484.00', '$7,124.00', '$371,226.00',
       '$93,651.00', '$2,130,470.00', '$1,241,102.00', '$1,566,265.06',
       '$6,887,221.00', '$71,369.00', '$11,764.00', '$28,369.00',
       '$6,456,358.00', '$661,915.00', '$163,961.00', '$44,990.00',
       '$361,445.78'], dtype=object)

In [81]:
df[df["box_office_collection"] == " NIL"].index

Index([  1,   5,   6,   8,  15,  17,  27,  28,  29,  31,  32,  36,  39,  40,
        44,  49,  52,  54,  55,  58,  60,  65,  66,  67,  69,  78,  92,  95,
       101, 102, 116, 119, 120, 125, 127, 130, 132, 140, 141, 147, 151, 154,
       162, 173, 191, 198, 211, 221, 232, 237, 245, 246],
      dtype='int64')

### This will work as missing value and we will drop this rows which contaning the value as NIL.

In [83]:
df.drop(df[df["box_office_collection"] == " NIL"].index, axis=0,inplace= True)

In [84]:
df["box_office_collection"].unique()

array(['$138,288.00', '$975,543.00', '$120,481.93', '$134,241.00',
       '$60,262,836.00', '$1,610,897.00', '$843,373.49', '$398,615.00',
       '$1,312,005.00', '$7,523,995.00', '$181,001.00', '$21,897,373.00',
       '$108,886.00', '$303,723,636.00', '$204,669.00', '$1,807,228.92',
       '$616,333.00', '$633.00', '$1,943.00', '$3,841.00', '$522,938.00',
       '$379,728.00', '$2,208,029.00', '$13,076,265.00', '$3,373,493.98',
       '$40,194.00', '$472,865.00', '$2,409,638.55', '$135,342.00',
       '$180,217.00', '$11,939.76', '$7,228,915.66', '$4,454.00',
       '$9,400,000.00', '$4,384,642.00', '$17,551,296.00', '$279,078.00',
       '$3,417.00', '$5,192,743.00', '$273,191.00', '$62,475,342.00',
       '$6,024,096.39', '$377,803.00', '$3,137,716.00', '$1,953,889.00',
       '$62,313.00', '$3,311,391.00', '$1,691,980.00', '$586,973.00',
       '$546,792.00', '$3,784,106.00', '$40,311.00', '$602,409.64',
       '$21,505,244.00', '$1,266,341.00', '$400,000.00',
       '$100,370,104.00', '$4,652.00', '$1,724,806.00', '$3,135,150.00',
       '$29,837,637.00', '$288,733.00', '$24,274.00', '$6,879,098.00',
       '$2,973,347.00', '$246,551.00', '$4,490,134.00', '$39,346,577.00',
       '$5,746,385.54', '$434,862.00', '$734,514.00', '$12,140,087.00',
       '$22,361.00', '$4,547,765.00', '$140,853,810.00', '$2,178.00',
       '$238,484.00', '$502,391.00', '$459,234.00', '$651,748.00',
       '$3,012,048.19', '$17,897,527.00', '$963,855.42', '$10,800,778.00',
       '$316,221.00', '$3,256,911.00', '$254,158,390.00',
       '$121,126,188.00', '$4,216,867.47', '$180,180.00', '$36,144.58',
       '$16,466,144.00', '$118,072.29', '$129,916.00', '$184.00',
       '$5,880.00', '$5,301,204.82', '$61,445.78', '$161,434.00',
       '$75,690.00', '$647,074.00', '$96,878.00', '$921,007.00',
       '$7,664.00', '$2,364,294.00', '$1,404,307.00', '$90,361.45',
       '$551,820.00', '$210,780.00', '$81,367.00', '$4,997.00',
       '$6,421,597.00', '$96,385.54', '$327.00', '$65,317.00',
       '$1,204,819.28', '$1,475,000.00', '$565,759.00', '$185,586.00',
       '$26,125,610.00', '$37,253.00', '$62,744.00', '$132,530.12',
       '$28,299,498.00', '$5,088,713.00', '$2,406,221.00', '$253,012.05',
       '$46,083.00', '$144,578.31', '$10,065,630.00', '$803,887.00',
       '$846,407.00', '$957.00', '$42,345,360.00', '$1,325,301.20',
       '$884,267.00', '$4,047,969.00', '$366,674.00', '$140,981.00',
       '$28,903,047.00', '$13,200,241.00', '$2,080,758.00', '$350,534.00',
       '$292,732.00', '$180,722.89', '$3,247.00', '$29,045,020.00',
       '$89,123,940.00', '$1,740,483.00', '$41,635,636.00', '$12,195.00',
       '$10,230.00', '$279,408.00', '$151,226.00', '$4,961,424.00',
       '$24,701,637.00', '$1,109,943.00', '$10,299,150.00', '$517,575.00',
       '$1,106,211.00', '$274,675.00', '$3,817,585.00', '$24,548,038.00',
       '$158,787.00', '$11,533,057.00', '$5,859,242.00', '$11,621,785.00',
       '$5,138,042.00', '$1,875,477.00', '$145,522.00', '$7,888.00',
       '$3,614,457.83', '$9,323,484.00', '$7,124.00', '$371,226.00',
       '$93,651.00', '$2,130,470.00', '$1,241,102.00', '$1,566,265.06',
       '$6,887,221.00', '$71,369.00', '$11,764.00', '$28,369.00',
       '$6,456,358.00', '$661,915.00', '$163,961.00', '$44,990.00',
       '$361,445.78'], dtype=object)

In [86]:
df["box_office_collection"] = df["box_office_collection"].str.replace("$","")

In [88]:
df["box_office_collection"] = df["box_office_collection"].str.replace(",","")
df["box_office_collection"] = df["box_office_collection"].str.replace(".","")
df["box_office_collection"].unique()

array(['13828800', '97554300', '12048193', '13424100', '6026283600',
       '161089700', '84337349', '39861500', '131200500', '752399500',
       '18100100', '2189737300', '10888600', '30372363600', '20466900',
       '180722892', '61633300', '63300', '194300', '384100', '52293800',
       '37972800', '220802900', '1307626500', '337349398', '4019400',
       '47286500', '240963855', '13534200', '18021700', '1193976',
       '722891566', '445400', '940000000', '438464200', '1755129600',
       '27907800', '341700', '519274300', '27319100', '6247534200',
       '602409639', '37780300', '313771600', '195388900', '6231300',
       '331139100', '169198000', '58697300', '54679200', '378410600',
       '4031100', '60240964', '2150524400', '126634100', '40000000',
       '10037010400', '465200', '172480600', '313515000', '2983763700',
       '28873300', '2427400', '687909800', '297334700', '24655100',
       '449013400', '3934657700', '574638554', '43486200', '73451400',
       '1214008700', '2236100', '454776500', '14085381000', '217800',
       '23848400', '50239100', '45923400', '65174800', '301204819',
       '1789752700', '96385542', '1080077800', '31622100', '325691100',
       '25415839000', '12112618800', '421686747', '18018000', '3614458',
       '1646614400', '11807229', '12991600', '18400', '588000',
       '530120482', '6144578', '16143400', '7569000', '64707400',
       '9687800', '92100700', '766400', '236429400', '140430700',
       '9036145', '55182000', '21078000', '8136700', '499700',
       '642159700', '9638554', '32700', '6531700', '120481928',
       '147500000', '56575900', '18558600', '2612561000', '3725300',
       '6274400', '13253012', '2829949800', '508871300', '240622100',
       '25301205', '4608300', '14457831', '1006563000', '80388700',
       '84640700', '95700', '4234536000', '132530120', '88426700',
       '404796900', '36667400', '14098100', '2890304700', '1320024100',
       '208075800', '35053400', '29273200', '18072289', '324700',
       '2904502000', '8912394000', '174048300', '4163563600', '1219500',
       '1023000', '27940800', '15122600', '496142400', '2470163700',
       '110994300', '1029915000', '51757500', '110621100', '27467500',
       '381758500', '2454803800', '15878700', '1153305700', '585924200',
       '1162178500', '513804200', '187547700', '14552200', '788800',
       '361445783', '932348400', '712400', '37122600', '9365100',
       '213047000', '124110200', '156626506', '688722100', '7136900',
       '1176400', '2836900', '645635800', '66191500', '16396100',
       '4499000', '36144578'], dtype=object)

In [89]:
df["box_office_collection_in_doller"] = df["box_office_collection"].astype("int")
df.drop("box_office_collection",axis=1,inplace= True)
df.head(2)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,user_reviews,awards,description,streaming_platform,box_office_collection_in_doller
0,12th Fail,2023,2.45,8.9,126000,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,13828800
2,Maharaja,2024,2.50,8.6,37000,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,370,2 nominations,A barber seeks vengeance after his home is bur...,Netflix,97554300

In [91]:
df["box_office_collection_in_doller"] = df["box_office_collection_in_doller"]/100
df.head(2)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,user_reviews,awards,description,streaming_platform,box_office_collection_in_doller
0,12th Fail,2023,2.45,8.9,126000,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,138288.0
2,Maharaja,2024,2.50,8.6,37000,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,370,2 nominations,A barber seeks vengeance after his home is bur...,Netflix,975543.0

In [93]:
df.dtypes

movie_name                          object
year_of_release                      int64
watch_hour                         float64
rating                             float64
ratedby                              int64
film_industry                       object
genre                               object
director                            object
user_reviews                         int64
awards                              object
description                         object
streaming_platform                  object
box_office_collection_in_doller    float64
dtype: object

In [95]:
df["awards"].unique()

array(['23 wins & 32 nominations', '2 nominations',
       '7 wins & 1 nomination', '4 wins & 2 nominations total',
       '64 wins & 30 nominations', '1 win & 7 nominations', '5 wins',
       '6 wins & 19 nominations', '13 wins & 11 nominations',
       '3 wins & 6 nominations', '1 win', '28 wins & 18 nominations',
       '5 nominations', '41 wins & 38 nominations',
       '9 wins & 7 nominations', '23 wins & 24 nominations',
       '14 wins & 11 nominations', '2 wins & 5 nominations',
       '11 wins & 7 nominations', '10 nominations',
       '15 wins & 8 nominations', '22 wins & 9 nominations',
       '11 wins & 24 nominations', '16 wins & 6 nominations', '18 wins',
       '2 wins & 7 nominations', '6 wins & 2 nominations total',
       '9 wins & 8 nominations', '17 wins & 10 nominations',
       '11 wins & 2 nominations total', '20 wins & 2 nominations', 'NIL',
       '25 wins & 5 nominations', '1 win & 4 nominations',
       '2 wins & 8 nominations', '18 wins & 65 nominations',
       '55 wins & 46 nominations', '22 wins & 13 nominations',
       '5 wins & 9 nominations', '35 wins & 38 nominations',
       '15 wins & 11 nominations', '35 wins & 43 nominations',
       '3 wins & 2 nominations', '11 wins & 9 nominations',
       '25 wins & 35 nominations', '18 wins & 26 nominations', '4 wins',
       '5 wins & 20 nominations', '17 wins & 26 nominations',
       '1 win & 8 nominations', '12 wins & 13 nominations',
       '12 wins & 17 nominations', '5 wins & 6 nominations',
       '32 wins & 24 nominations', '57 wins & 9 nominations',
       '6 wins & 10 nominations', '21 wins & 26 nominations',
       '54 wins & 21 nominations total', '6 nominations',
       '6 wins & 11 nominations', '8 wins & 15 nominations',
       '7 wins & 6 nominations', '11 wins & 34 nominations',
       '7 wins & 29 nominations', '10 wins & 8 nominations',
       '4 wins & 4 nominations', '68 wins & 40 nominations',
       '20 wins & 27 nominations', '23 wins & 22 nominations',
       '22 wins & 36 nominations', '6 wins & 15 nominations',
       '14 wins & 1 nomination', '3 wins & 9 nominations',
       '59 wins & 110 nominations total', '3 wins & 8 nominations',
       '28 wins & 31 nominations', '27 wins & 29 nominations',
       '25 wins & 29 nominations', '1 win & 1 nomination',
       '29 wins & 30 nominations', '10 wins & 1 nomination',
       '49 wins & 53 nominations total', '28 wins & 40 nominations',
       '11 wins & 19 nominations', '29 wins & 16 nominations',
       '34 wins & 28 nominations', '21 wins & 39 nominations',
       '9 wins & 1 nomination', '30 wins & 31 nominations', '6 wins',
       '7 nominations', '9 wins', '1 win & 9 nominations',
       '5 wins & 1 nomination', '4 wins & 3 nominations',
       '3 wins & 3 nominations', '15 wins & 4 nominations',
       '13 nominations', '1 nomination', '22 wins & 18 nominations',
       '35 wins & 47 nominations', '21 wins & 11 nominations',
       '6 wins & 14 nominations', '6 wins & 9 nominations',
       '25 wins & 13 nominations', '12 wins & 3 nominations',
       '2 wins & 3 nominations', '17 wins & 18 nominations',
       '22 wins & 17 nominations', '7 wins & 2 nominations',
       '3 wins & 17 nominations', '2 wins & 6 nominations',
       '27 wins & 38 nominations', '1 win & 2 nominations',
       '76 wins & 67 nominations', '17 wins & 16 nominations',
       '21 wins & 14 nominations', '4 wins & 10 nominations', '10 wins',
       '14 wins & 22 nominations', '22 wins & 1 nomination',
       '13 wins & 13 nominations', '17 wins & 1 nomination',
       '25 wins & 36 nominations', '19 wins & 7 nominations',
       '12 wins & 27 nominations', '3 wins & 13 nominations',
       '12 wins & 29 nominations', '45 wins & 47 nominations',
       '13 wins & 8 nominations total', '14 wins & 17 nominations',
       '5 wins & 3 nominations', '2 wins & 2 nominations',
       '4 wins & 8 nominations', '8 wins & 13 nominations',
       '9 wins & 19 nominations', '9 wins & 14 nominations',
       '6 wins & 1 nomination', '3 nominations',
       '8 wins & 11 nominations', '3 wins & 12 nominations',
       '6 wins & 12 nominations', '13 wins & 25 nominations',
       '2 wins & 9 nominations', '3 wins & 10 nominations',
       '55 wins & 22 nominations', '2 wins', '2 wins & 10 nominations',
       '29 wins & 46 nominations total', '5 wins & 31 nominations',
       '3 wins', '6 wins & 4 nominations', '3 wins & 18 nominations',
       '4 wins & 6 nominations', '30 wins & 42 nominations', '20 wins',
       '18 wins & 10 nominations', '43 wins & 37 nominations', '7 wins'],
      dtype=object)

In [99]:
'6 wins'.split("&")

['6 wins']

In [101]:
import re

In [103]:
df["awards"][:10]

0         23 wins & 32 nominations
2                    2 nominations
3            7 wins & 1 nomination
4     4 wins & 2 nominations total
7         64 wins & 30 nominations
9            1 win & 7 nominations
10                          5 wins
11         6 wins & 19 nominations
12        13 wins & 11 nominations
13          3 wins & 6 nominations
Name: awards, dtype: object

In [115]:
df['wins'] = [int(re.search(r'(\d+)\s+wins', x).group(1)) if re.search(r'(\d+)\s+wins', x) else 0 for x in df['awards']]
df['nominations'] = [int(re.search(r'(\d+)\s+nominations', x).group(1)) if re.search(r'(\d+)\s+nominations', x) else 0 for x in df['awards']]

In [116]:
df.head(2)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,user_reviews,awards,description,streaming_platform,box_office_collection_in_doller,wins,nominations
0,12th Fail,2023,2.45,8.9,126000,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,945,23 wins & 32 nominations,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,138288.0,23,32
2,Maharaja,2024,2.50,8.6,37000,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,370,2 nominations,A barber seeks vengeance after his home is bur...,Netflix,975543.0,0,2

In [118]:
df["total_awards"] = df["wins"] + df["nominations"]

In [120]:
df.drop("awards",axis=1,inplace=True)

In [121]:
df.dtypes

movie_name                          object
year_of_release                      int64
watch_hour                         float64
rating                             float64
ratedby                              int64
film_industry                       object
genre                               object
director                            object
user_reviews                         int64
description                         object
streaming_platform                  object
box_office_collection_in_doller    float64
wins                                 int64
nominations                          int64
total_awards                         int64
dtype: object

### Now all the columns are in their relevant datatype.

In [122]:
df.shape

(198, 15)

In [123]:
df.isnull().sum()

movie_name                         0
year_of_release                    0
watch_hour                         0
rating                             0
ratedby                            0
film_industry                      0
genre                              0
director                           0
user_reviews                       0
description                        0
streaming_platform                 0
box_office_collection_in_doller    0
wins                               0
nominations                        0
total_awards                       0
dtype: int64

### We drop the rows that does not contain the box_office_collection feature value and we handle the missing value of the feature awards by filling it with 0.

In [125]:
df[df.duplicated()]

Empty DataFrame
Columns: [movie_name, year_of_release, watch_hour, rating, ratedby, film_industry, genre, director, user_reviews, description, streaming_platform, box_office_collection_in_doller, wins, nominations, total_awards]
Index: []

## Dataset is not containing the duplicated values.

### **Q 3. Filtering and Sorting**
  > a. Filter the dataset to display only movies released after the year 2000.

  > b. Sort the DataFrame by IMDB Rating in descending order.

  > c. Create a new DataFrame that contains only movies with an IMDB rating greater than 8.5.

In [126]:
df.head(3)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,user_reviews,description,streaming_platform,box_office_collection_in_doller,wins,nominations,total_awards
0,12th Fail,2023,2.450000,8.9,126000,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,945,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,138288.00,23,32,55
2,Maharaja,2024,2.500000,8.6,37000,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,370,A barber seeks vengeance after his home is bur...,Netflix,975543.00,0,2,2
3,Nayakan,1987,2.416667,8.7,25000,Kollywood (Tamil),"Crime, Drama",Mani Ratnam,237,A common man's struggles against a corrupt pol...,"Amazon Prime Video, YouTube",120481.93,7,0,7

In [128]:
df_after_2000 = df[df["year_of_release"] > 2000]
df_after_2000

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,user_reviews,description,streaming_platform,box_office_collection_in_doller,wins,nominations,total_awards
0,12th Fail,2023,2.450000,8.9,126000,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,945,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,138288.00,23,32,55
2,Maharaja,2024,2.500000,8.6,37000,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,370,A barber seeks vengeance after his home is bur...,Netflix,975543.00,0,2,2
7,3 Idiots,2009,2.833333,8.4,441000,Bollywood (Hindi),"Comedy, Drama",Rajkumar Hirani,1000,Two friends are searching for their long lost ...,"Netflix, Amazon Prime Video",60262836.00,64,30,94
9,Black Friday,2004,2.383333,8.4,22000,Bollywood (Hindi),"Crime, Drama, Thriller",Anurag Kashyap,88,A film about the investigations following the ...,YouTube,1610897.00,0,7,7
11,Rocketry: The Nambi Effect,2022,2.616667,8.7,59000,Bollywood (Hindi),"Biography, Drama",Madhavan,1100,The story of Indian Space Research Organizatio...,Amazon Prime Video,398615.00,6,19,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243,Vicky Donor,2012,2.100000,7.7,46000,Bollywood (Hindi),"Comedy, Drama",Shoojit Sircar,82,A man is brought in by an infertility doctor t...,"Amazon Prime Video, Netflix",6456358.00,43,37,80
244,Angamaly Diaries,2017,2.200000,7.9,6800,Mollywood (Malayalam),"Crime, Drama",Lijo Jose Pellissery,39,Vincent Pepe who wanted to be a powerful leade...,Netflix,661915.00,2,6,8
247,Ghilli,2004,2.666667,8.1,17000,Kollywood (Tamil),"Action, Drama",Dharani,47,"Velu, an aspiring kabaddi player, goes to Madu...",Disney+ Hotstar,163961.00,2,2,4
248,Mukundan Unni Associates,2022,2.133333,7.9,6200,Mollywood (Malayalam),"Satire, Drama",Abhinav Sunder Nayak,62,"Advocate Mukundan Unni, played by Vineeth Sree...",Disney+ Hotstar,44990.00,0,0,0
249,Happy Days,2007,2.550000,7.9,6300,Tollywood (Telugu),"Drama, Romance, Comedy",Sekhar Kammula,16,A group of eight youngsters from an engineerin...,Amazon Prime Video,361445.78,7,0,7

In [129]:
df_after_2000.shape

(174, 15)

In [141]:
df_sort_rating = df.sort_values("rating",ascending=False)
df_sort_rating.head(15)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,user_reviews,description,streaming_platform,box_office_collection_in_doller,wins,nominations,total_awards
0,12th Fail,2023,2.450000,8.9,126000,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,945,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,138288.00,23,32,55
14,Kireedam,1989,2.066667,8.9,8800,Mollywood (Malayalam),"Drama, Family",Sibi Malayil,33,The life of a young man turns upside down when...,Amazon Prime Video,181001.00,0,0,0
23,Natsamrat,2016,2.766667,8.8,7300,Marathi Cinema,"Drama, Tragedy",Mahesh Manjrekar,72,"After he retires, an aging theatre actor and h...",Zee5,633.00,2,5,7
11,Rocketry: The Nambi Effect,2022,2.616667,8.7,59000,Bollywood (Hindi),"Biography, Drama",Madhavan,1100,The story of Indian Space Research Organizatio...,Amazon Prime Video,398615.00,6,19,25
21,Soorarai Pottru,2020,2.550000,8.7,125000,Kollywood (Tamil),"Drama, Biography",Sudha Kongara,2100,"Nedumaaran Rajangam ""Maara"" sets out to make t...",Amazon Prime Video,1807228.92,23,24,47
57,Peranbu,2018,2.450000,8.7,17000,Kollywood (Tamil),Drama,Ram,425,"A single father tries to raise his daughter, w...",Amazon Prime Video,3417.00,5,9,14
13,777 Charlie,2022,2.733333,8.7,41000,Sandalwood (Kannada),"Adventure, Drama",Kiranraj K,392,Dharma is stuck in a rut with his negative and...,"Voot, Amazon Prime Video",7523995.00,3,6,9
10,Manichithrathazhu,1993,2.816667,8.7,13000,Mollywood (Malayalam),"Horror, Thriller, Drama",Fazil,53,When a forbidden room in an old bungalow is un...,Disney+ Hotstar,843373.49,5,0,5
131,A Northern Story of Valor,1989,2.800000,8.7,6400,Kollywood (Tamil),"Drama, Action",T. Hariharan,45,The film offers an alternative version of the ...,Amazon Prime Video,118072.29,6,0,6
3,Nayakan,1987,2.416667,8.7,25000,Kollywood (Tamil),"Crime, Drama",Mani Ratnam,237,A common man's struggles against a corrupt pol...,"Amazon Prime Video, YouTube",120481.93,7,0,7
71,Spadikam,1995,2.500000,8.6,7000,Mollywood (Malayalam),"Action, Drama",Bhadran,19,A small-town criminal constantly clashes with ...,Amazon Prime Video,62313.00,4,0,4
2,Maharaja,2024,2.500000,8.6,37000,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,370,A barber seeks vengeance after his home is bur...,Netflix,975543.00,0,2,2
12,Kumbalangi Nights,2019,2.250000,8.5,19000,Mollywood (Malayalam),"Drama, Family",Madhu C. Narayanan,194,The film revolves around four brothers who sha...,Amazon Prime Video,1312005.00,13,11,24
83,Aaranya Kaandam,2010,2.100000,8.5,5500,Kollywood (Tamil),"Neo-noir, Thriller",Thiagarajan Kumararaja,25,A mob boss must deal with a disgruntled mistre...,Amazon Prime Video,843373.49,3,6,9
33,Sita Ramam,2022,2.716667,8.5,71000,Tollywood (Telugu),"Romance, Drama",Hanu Raghavapudi,701,"An orphan soldier, Lieutenant Ram's life chang...","Amazon Prime Video, Hotstar",2208029.00,11,24,35

In [135]:
movies_8_5 = df[df["rating"] > 8.5]["movie_name"]
movies_8_5

0                       12th Fail
2                        Maharaja
3                         Nayakan
10              Manichithrathazhu
11     Rocketry: The Nambi Effect
13                    777 Charlie
14                       Kireedam
21                Soorarai Pottru
23                      Natsamrat
57                        Peranbu
71                       Spadikam
131     A Northern Story of Valor
Name: movie_name, dtype: object

In [142]:
movies_8_5.shape

(12,)

In [139]:
df_movies = pd.DataFrame(list(movies_8_5),columns=["Movies_name"])
df_movies

                   Movies_name
0                    12th Fail
1                     Maharaja
2                      Nayakan
3            Manichithrathazhu
4   Rocketry: The Nambi Effect
5                  777 Charlie
6                     Kireedam
7              Soorarai Pottru
8                    Natsamrat
9                      Peranbu
10                    Spadikam
11   A Northern Story of Valor

In [140]:
df_movies.shape

(12, 1)

In [143]:
type(df_movies)

pandas.core.frame.DataFrame

### **Q 4. Group By Operations**
  > a. Group the movies by the Year column and calculate the average IMDB rating for each year.

  > b. Group the data by Director and count the number of movies each director has in the top 250.

  > c. Find the highest-rated movie for each year by grouping the data by Year and selecting the movie with the highest rating in each group.

In [145]:
df.to_csv("clean_data.csv",index=False)
d = pd.read_csv("clean_data.csv")
d.head(2)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,user_reviews,description,streaming_platform,box_office_collection_in_doller,wins,nominations,total_awards
0,12th Fail,2023,2.45,8.9,126000,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,945,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,138288.0,23,32,55
1,Maharaja,2024,2.50,8.6,37000,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,370,A barber seeks vengeance after his home is bur...,Netflix,975543.0,0,2,2

In [144]:
df.head()

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,user_reviews,description,streaming_platform,box_office_collection_in_doller,wins,nominations,total_awards
0,12th Fail,2023,2.450000,8.9,126000,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,945,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,138288.00,23,32,55
2,Maharaja,2024,2.500000,8.6,37000,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,370,A barber seeks vengeance after his home is bur...,Netflix,975543.00,0,2,2
3,Nayakan,1987,2.416667,8.7,25000,Kollywood (Tamil),"Crime, Drama",Mani Ratnam,237,A common man's struggles against a corrupt pol...,"Amazon Prime Video, YouTube",120481.93,7,0,7
4,The World of Apu,1959,1.750000,8.4,17000,Bengali Cinema,Drama,Satyajit Ray,62,This final installment in Satyajit Ray's Apu T...,"Amazon Prime Video, Hoichoi",134241.00,4,2,6
7,3 Idiots,2009,2.833333,8.4,441000,Bollywood (Hindi),"Comedy, Drama",Rajkumar Hirani,1000,Two friends are searching for their long lost ...,"Netflix, Amazon Prime Video",60262836.00,64,30,94

In [148]:
avg_per_year = df.groupby("year_of_release").agg({"rating":"mean"})
avg_per_year

                   rating
year_of_release
1955             8.200000
1956             8.200000
1958             7.900000
1959             8.400000
1960             8.100000
1971             8.100000
1975             8.150000
1987             8.700000
1988             7.900000
1989             8.800000
1993             8.700000
1995             8.300000
1996             8.100000
1997             7.900000
1999             8.175000
2000             8.100000
2001             8.100000
2002             8.000000
2003             8.016667
2004             8.071429
2005             8.200000
2006             8.062500
2007             8.020000
2008             8.150000
2009             8.075000
2010             8.150000
2011             8.075000
2012             8.061538
2013             8.080000
2014             8.185714
2015             8.158333
2016             8.200000
2017             8.050000
2018             8.260000
2019             8.193750
2020             8.200000
2021             8.200000
2022             8.253846
2023             8.250000
2024             8.225000

In [152]:
director_movies_count = df.groupby("director").agg({"movie_name":"count"})
director_movies_count.columns = ["count"]
director_movies_count.head(2)

                 count
director
A.L. Vijay           1
A.R. Murugadoss      1

In [155]:
director_movies_count = director_movies_count.sort_values("count",ascending=False)
director_movies_count.head(10)

                       count
director
Anurag Kashyap             6
Vetrimaaran                5
Jeethu Joseph              4
Satyajit Ray               4
Gautham Vasudev Menon      4
Rajkumar Hirani            4
Neeraj Pandey              3
Lokesh Kanagaraj           3
S. Shankar                 3
Karthik Subbaraj           3

In [173]:
df.groupby("year_of_release")["rating"]

In [172]:
df.groupby("year_of_release")["rating"].idxmax()

year_of_release
1955     43
1956     38
1958    196
1959      4
1960    138
1971    128
1975     46
1987      3
1988    192
1989     14
1993     10
1995     71
1996    134
1997    182
1999     63
2000    124
2001     86
2002    159
2003    115
2004      9
2005     35
2006     85
2007     16
2008    144
2009      7
2010     83
2011     59
2012     51
2013     34
2014    174
2015     24
2016     23
2017     75
2018     57
2019     12
2020     21
2021     25
2022     11
2023      0
2024      2
Name: rating, dtype: int64

In [176]:
df.loc[df.groupby("year_of_release")["rating"].idxmax()][["year_of_release","rating"]].reset_index(drop=True)

    year_of_release  rating
0              1955     8.2
1              1956     8.2
2              1958     7.9
3              1959     8.4
4              1960     8.1
5              1971     8.1
6              1975     8.3
7              1987     8.7
8              1988     7.9
9              1989     8.9
10             1993     8.7
11             1995     8.6
12             1996     8.1
13             1997     7.9
14             1999     8.4
15             2000     8.3
16             2001     8.1
17             2002     8.0
18             2003     8.3
19             2004     8.4
20             2005     8.3
21             2006     8.4
22             2007     8.3
23             2008     8.2
24             2009     8.4
25             2010     8.5
26             2011     8.2
27             2012     8.2
28             2013     8.3
29             2014     8.4
30             2015     8.4
31             2016     8.8
32             2017     8.2
33             2018     8.7
34             2019     8.5
35             2020     8.7
36             2021     8.4
37             2022     8.7
38             2023     8.9
39             2024     8.6

### **Q 1. Column Creation and Manipulation**
  > a. Create a new column named Rating Category that categorizes movies as "Excellent" if the IMDB rating is 9.0 or above, "Good" if between 8.0 and 9.0, and "Average" if below 8.0.

  > b. Extract the Year from the movie title (assuming the year is part of the title) and create a new column Extracted Year.

  > c. Create a new column that combines the Title and Director into a single string, separated by a hyphen.

In [178]:
def categorize_value(val):
  if val >= 9:
    return "Excellent"
  elif val >=8 :
    return "Good"
  else :
    return "Average"

In [180]:
df["rating_category"] = df["rating"].map(categorize_value)
df.head(2)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,user_reviews,description,streaming_platform,box_office_collection_in_doller,wins,nominations,total_awards,rating_category
0,12th Fail,2023,2.45,8.9,126000,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,945,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,138288.0,23,32,55,Good
2,Maharaja,2024,2.50,8.6,37000,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,370,A barber seeks vengeance after his home is bur...,Netflix,975543.0,0,2,2,Good

In [182]:
df["movie_name"].unique()

array(['12th Fail', 'Maharaja', 'Nayakan', 'The World of Apu', '3 Idiots',
       'Black Friday', 'Manichithrathazhu', 'Rocketry: The Nambi Effect',
       'Kumbalangi Nights', '777 Charlie', 'Kireedam',
       'Like Stars on Earth', 'Laapataa Ladies', 'Dangal', 'Jersey',
       'Soorarai Pottru', '96', 'Natsamrat', 'Visaaranai', 'Drishyam 2',
       'Kaithi', 'Asuran', 'Sita Ramam', 'Drishyam', 'Anniyan',
       'Khosla Ka Ghosla!', 'Aparajito', 'Vada Chennai', 'Thani Oruvan',
       'Pather Panchali', 'Bangalore Days', 'Chupke Chupke', 'Premam',
       'Agent Sai Srinivasa Athreya', 'Gangs of Wasseypur',
       'Bhaag Milkha Bhaag', 'Mahanati', 'Peranbu',
       'Zindagi Na Milegi Dobara', 'Super Deluxe', 'Andhadhun',
       'Mudhalvan', 'Shahid', 'Munna Bhai M.B.B.S.', 'Swades', 'Spadikam',
       'Chhichhore', 'Tumbbad', 'Papanasam', 'Vikram Vedha',
       'Manjummel Boys', 'Paan Singh Tomar', 'Mandela', 'Chak De! India',
       'Black', 'Aruvi', 'Aaranya Kaandam', 'PK', 'Pudhu Pettai',
       'Lagaan: Once Upon a Time in India', 'Jana Gana Mana', 'Vikram',
       'Sarfarosh', 'Jigarthanda', 'Talvar', "The Crow's Egg",
       'Soodhu Kavvum', 'Barfi!', 'Uri: The Surgical Strike', 'Virumandi',
       'Udaan', 'Article 15', 'OMG: Oh My God!',
       'Maheshinte Prathikaaram', '2018', 'Lion', 'Ustad Hotel',
       'Theeran Adhigaram Ondru', 'Queen', 'Kahaani', 'Masaan', 'Baasha',
       'Lage Raho Munna Bhai', 'Pithamagan', 'Rang De Basanti',
       'Dil Chahta Hai', 'A Wednesday', 'Baahubali 2: The Conclusion',
       'Bajrangi Bhaijaan', 'Alai Payuthey', 'Pink', 'Anand', 'Omkara',
       'A Northern Story of Valor', 'Section 375', 'Indian',
       'Viduthalai: Part 1', 'Padaiyappa', 'Lucia', 'Mughal-E-Azam',
       'Dilwale Dulhania Le Jayenge', 'Special 26', 'Thadam',
       'Vaaranam Aayiram', 'Chithha', 'Gulaal', 'Haider',
       'Pelli Choopulu', 'Rangasthalam', 'Hi Nanna',
       'Vaastav: The Reality', 'Aadukalam', 'K.G.F: Chapter 1',
       'Naduvula Konjam Pakkatha Kaanom', 'Sirf Ek Bandaa Kaafi Hai',
       'Company', 'Deewaar', 'Maanagaram', 'Ugly', 'Maanaadu', 'Nayattu',
       'Badhaai Ho', 'Saptha Sagaradaache Ello - Side A', 'Evaru',
       'Kshanam', 'Gully Boy', 'Ayyappanum Koshiyum', 'Kantara',
       'Ulidavaru Kandanthe', 'Charlie', 'Ship of Theseus', 'Jab We Met',
       'Thondi Muthalum Driksakshiyum', 'Deiva Thirumagal',
       'Pranchiyettan and the Saint', 'My Name Is Khan', 'Border',
       'Take Off', 'Dev.D', 'Gargi', 'The Brawler',
       'Garuda Gamana Vrishabha Vahana', 'Manjhi: The Mountain Man',
       'M.S. Dhoni: The Untold Story', 'Kal Ho Naa Ho', 'Salaam Bombay!',
       'Por Thozhil', 'Vinnaithaandi Varuvaayaa', 'Pizza',
       'The Music Room', 'Pad Man', 'K.G.F: Chapter 2', 'Hridayam',
       'Hindi Medium', 'Kirik Party', 'Android Kunjappan Ver 5.25',
       'Jigarthanda Double X', 'Ankhon Dekhi', 'Major', 'Super 30',
       'Johnny Gaddaar', 'English Vinglish', 'Dor', 'Anjaam Pathiraa',
       'Hey Ram', 'Karnan', 'Baahubali: The Beginning', 'Memories',
       'Love Today', 'Baby', 'Malik', 'Lakshya', 'The Lunchbox',
       'The Goat Life', 'Gangaajal', 'Arjun Reddy',
       'Vettaiyaadu Vilaiyaadu', 'Kaakha Kaakha', 'Ab Tak Chhappan',
       'Airlift', 'Oopiri', 'Maidaan', 'Unnaipol Oruvan', 'Pokiri',
       'Thuppakki', 'Stanley Ka Dabba', 'Leader', 'Veer-Zaara',
       'The Tashkent Files', 'Okkadu', 'Manam', 'Vicky Donor',
       'Angamaly Diaries', 'Ghilli', 'Mukundan Unni Associates',
       'Happy Days'], dtype=object)

In [185]:
df["extracted_year"] = [int(re.search("(\d+)",i).group(1)) if re.search("(\d+)",i) else 0 for i in df["movie_name"] ]
df.head(2)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,user_reviews,description,streaming_platform,box_office_collection_in_doller,wins,nominations,total_awards,rating_category,extracted_year
0,12th Fail,2023,2.45,8.9,126000,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,945,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,138288.0,23,32,55,Good,12
2,Maharaja,2024,2.50,8.6,37000,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,370,A barber seeks vengeance after his home is bur...,Netflix,975543.0,0,2,2,Good,0

In [187]:
df["movie_director"] = df["movie_name"] + " - " + df["director"]
df.head(2)

,movie_name,year_of_release,watch_hour,rating,ratedby,film_industry,genre,director,user_reviews,description,streaming_platform,box_office_collection_in_doller,wins,nominations,total_awards,rating_category,extracted_year,movie_director
0,12th Fail,2023,2.45,8.9,126000,Bollywood (Hindi),"Drama, Biography",Vidhu Vinod Chopra,945,The real-life story of IPS Officer Manoj Kumar...,SonyLIV,138288.0,23,32,55,Good,12,12th Fail - Vidhu Vinod Chopra
2,Maharaja,2024,2.50,8.6,37000,Kollywood (Tamil),"Crime, Drama",Nithilan Saminathan,370,A barber seeks vengeance after his home is bur...,Netflix,975543.0,0,2,2,Good,0,Maharaja - Nithilan Saminathan