# Assignment 2: Check Whether missing values are `MCAR` type  
## **Group 29**

### Authors:
- **Dhruv Panchal** (ID: 202411042)
- **Priya Patel** (ID: 202411048)
- **Natansh Shah** (ID: 202201445)

### Task: Take a dataset and check whether your missing data is MCAR type.

## Installing missingpy package

In [35]:
pip install missingpy

Requirement already satisfied: missingpy in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (0.2.0)Note: you may need to restart the kernel to use updated packages.

In [65]:
## to run the ipynb file install pre-requisites

In [67]:
pip install numpy

Requirement already satisfied: numpy in c:\users\dhruv\appdata\roaming\python\python39\site-packages (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [68]:
pip install pandas

Requirement already satisfied: pandas in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (2.2.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\dhruv\appdata\roaming\python\python39\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dhruv\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [69]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (3.8.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (4.49.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\dhruv\appdata\roaming\python\python39\site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: packaging>=20.0 in c:\users\dhruv\appdata\roaming\python\python39\site-packages (from matplotlib) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from matplotlib) (6.1.1)
Requirement already satisfied: zipp>=3.1.0 in c:\users\dhruv\appdata\roaming\python\python39\site-packages (from importlib-resources>=3.2.0->matplotlib) (3.18.1)
Requirement already satisfied: six>=1.5 in c:\users\dhruv\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [70]:
pip install scipy

Requirement already satisfied: scipy in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (1.12.0)
Requirement already satisfied: numpy<1.29.0,>=1.22.4 in c:\users\dhruv\appdata\roaming\python\python39\site-packages (from scipy) (1.23.5)
Note: you may need to restart the kernel to use updated packages.

In [72]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (1.4.1.post1)
Requirement already satisfied: numpy<2.0,>=1.19.5 in c:\users\dhruv\appdata\roaming\python\python39\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: scipy>=1.6.0 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.12.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dhruv\appdata\local\programs\python\python39\lib\site-packages (from scikit-learn) (3.3.0)
Note: you may need to restart the kernel to use updated packages.

## Importing libraries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import chi2

## Reading the dataset

In [2]:
## reading the dataset 
## loading the dataset by using the api call (for loading it may take some time and internet connection is mandatory)
df = pd.read_csv("https://data.cityofnewyork.us/resource/h9gi-nx95.csv?$limit=100000&$offset=150")
df.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2021-08-05T00:00:00.000,18:17,NaN,NaN,NaN,NaN,NaN,VERRAZANO BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4456746,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26T00:00:00.000,16:35,BROOKLYN,11235.0,40.577652,-73.963440,"\n, \n(40.577652, -73.96344)",NaN,NaN,3071 BRIGHTON 4 STREET,...,Unspecified,Unspecified,NaN,NaN,4513878,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN
2,2022-03-26T00:00:00.000,19:50,MANHATTAN,10012.0,40.730145,-73.997810,"\n, \n(40.730145, -73.99781)",NaN,NaN,60 WASHINGTON SQUARE SOUTH,...,Unspecified,NaN,NaN,NaN,4513735,E-Bike,BOX VAN,NaN,NaN,NaN
3,2022-03-26T00:00:00.000,13:19,QUEENS,11420.0,40.674780,-73.806206,"\n, \n(40.67478, -73.806206)",ROCKAWAY BOULEVARD,132 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4513958,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
4,2022-03-25T00:00:00.000,8:45,BROOKLYN,11230.0,40.624622,-73.975980,"\n, \n(40.624622, -73.97598)",NaN,NaN,1175 MC DONALD AVENUE,...,Unspecified,NaN,NaN,NaN,4514367,Sedan,Sedan,NaN,NaN,NaN

In [3]:
## other option to download dataset
## df = pd.read_csv(r"C:\Users\dhruv\Documents\DA-IICT\EDA\Project\Motor_Vehicle_Collisions_-_Crashes_20240918.csv")

In [4]:
## total samples in the dataset
len(df)

100000

In [5]:
# basic information of the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash_date                     100000 non-null  object
 1   crash_time                     100000 non-null  object
 2   borough                        65567 non-null   object
 3   zip_code                       65556 non-null   float64
 4   latitude                       92057 non-null   float64
 5   longitude                      92057 non-null   float64
 6   location                       92057 non-null   object
 7   on_street_name                 72913 non-null   object
 8   off_street_name                46357 non-null   object
 9   cross_street_name              27086 non-null   object
 10  number_of_persons_injured      100000 non-null  int64
 11  number_of_persons_killed       100000 non-null  int64
 12  number_of_pedestrians_injured  100000 non-null  int64
 13  number_of_pedestrians_killed   100000 non-null  int64
 14  number_of_cyclist_injured      100000 non-null  int64
 15  number_of_cyclist_killed       100000 non-null  int64
 16  number_of_motorist_injured     100000 non-null  int64
 17  number_of_motorist_killed      100000 non-null  int64
 18  contributing_factor_vehicle_1  99501 non-null   object
 19  contributing_factor_vehicle_2  77371 non-null   object
 20  contributing_factor_vehicle_3  10302 non-null   object
 21  contributing_factor_vehicle_4  2785 non-null    object
 22  contributing_factor_vehicle_5  851 non-null     object
 23  collision_id                   100000 non-null  int64
 24  vehicle_type_code1             98799 non-null   object
 25  vehicle_type_code2             66708 non-null   object
 26  vehicle_type_code_3            9548 non-null    object
 27  vehicle_type_code_4            2625 non-null    object
 28  vehicle_type_code_5            820 non-null     object
dtypes: float64(3), int64(9), object(17)
memory usage: 22.1+ MB

In [6]:
# Getting dimensions of the dataset
print("Number of rows" , df.shape[0])
print("Number of columns" , df.shape[1])
print("Total cells" , (df.shape[0]*df.shape[1]))

Number of rows 100000
Number of columns 29
Total cells 2900000

## Understanding Missing Values

In [7]:
# Getting Number of missing values for each coloumns
print("Getting Number of missing values for each coloumns.")
print(df.isnull().sum(),end="\n\n")

print("Below is shown the set of columns which have missing values.")
columns_with_nulls = df.columns[df.isnull().sum() > 0]
print(columns_with_nulls)

Getting Number of missing values for each coloumns.
crash_date                           0
crash_time                           0
borough                          34433
zip_code                         34444
latitude                          7943
longitude                         7943
location                          7943
on_street_name                   27087
off_street_name                  53643
cross_street_name                72914
number_of_persons_injured            0
number_of_persons_killed             0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
contributing_factor_vehicle_1      499
contributing_factor_vehicle_2    22629
contributing_factor_vehicle_3    89698
contributing_factor_vehicle_4    97215
contributing_factor_vehicle_5    99149
collision_id                         0
vehicle_type_code1                1201
vehicle_type_code2               33292
vehicle_type_code_3              90452
vehicle_type_code_4              97375
vehicle_type_code_5              99180
dtype: int64

Below is shown the set of columns which have missing values.
Index(['borough', 'zip_code', 'latitude', 'longitude', 'location',
       'on_street_name', 'off_street_name', 'cross_street_name',
       'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
       'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4',
       'contributing_factor_vehicle_5', 'vehicle_type_code1',
       'vehicle_type_code2', 'vehicle_type_code_3', 'vehicle_type_code_4',
       'vehicle_type_code_5'],
      dtype='object')

## Percentage of missing values for columns

In [8]:
def getPerMiss(df):
    percentage_missing = (df.isnull().sum() / df.shape[0]) * 100

    # Filter columns with more than 0% missing data
    columns_with_missing = percentage_missing[percentage_missing > 0]
    return columns_with_missing

columns_with_missing = getPerMiss(df)
print(columns_with_missing)

borough                          34.433
zip_code                         34.444
latitude                          7.943
longitude                         7.943
location                          7.943
on_street_name                   27.087
off_street_name                  53.643
cross_street_name                72.914
contributing_factor_vehicle_1     0.499
contributing_factor_vehicle_2    22.629
contributing_factor_vehicle_3    89.698
contributing_factor_vehicle_4    97.215
contributing_factor_vehicle_5    99.149
vehicle_type_code1                1.201
vehicle_type_code2               33.292
vehicle_type_code_3              90.452
vehicle_type_code_4              97.375
vehicle_type_code_5              99.180
dtype: float64

In [9]:
# df : The dataset to test for MCAR.

# Define Little's MCAR test function
def little_mcar_test(testdata):

    n = len(testdata)
    # n stores the number of rows in test data


    groups = []
    #groups is an empty list that will later hold the indicator variables for missing values.


    # Loop through each column in testdata.
    for col in testdata.columns:
        mask = testdata[col].isnull()
        # For each column, mask is a boolean array where True is for missing values and False is for non-missing values.

        # If any missing data is found
        if mask.any():
            # convert the boolean mask to integer values
            # and reshape it into a column vector
            # before appending it to the groups list
            groups.append(mask.astype(int).values.reshape(-1, 1))


    # If no columns with missing data are found, there's nothing to test
    if len(groups) == 0:
        raise ValueError("No missing data found.")

    # The missing data indicators for all columns are concatenated into a matrix r
    r = np.concatenate(groups, axis=1)
    # each column represents a different variable
    # each row corresponds to an observation


    group_stats = r.T @ r
    # how many missing values there are in each combination of variables

    m = len(groups)
    # m is the number of variables with missing data.

    df = (n - 1) * m
    # df is the degrees of freedom for the chi-square test

    chi2_stat = group_stats.trace()
    # The chi-square statistic is computed as the sum of diagonal elements of the group_stats matrix

    p_value = chi2.sf(chi2_stat, df)

    return {"chi2_stat": chi2_stat, "degrees_of_freedom": df, "p_value": p_value}

# Perform Little's MCAR test on the testdata
result = little_mcar_test(df)

# Print the result
print(f"Chi-square statistic: {result['chi2_stat']}")
print(f"Degrees of freedom: {result['degrees_of_freedom']}")
print(f"P-value: {result['p_value']}")

Chi-square statistic: 877040
Degrees of freedom: 1799982
P-value: 1.0

In [10]:
if result['p_value'] > 0.05:
    print("The missing data is MCAR (Missing Completely at Random).")
else:
    print("The missing data is not MCAR.")

The missing data is MCAR (Missing Completely at Random).

In [90]:
df.shape

(100000, 29)

## Interpreting the Results

#### Chi-square statistic: This indicates the extent to which the actual missing data pattern differs from what would be anticipated if the data were Missing Completely At Random (MCAR).

### Degrees of freedom: This refers to the number of independent values used in computing the chi-square statistic.

### P-value: A p-value below a specified threshold (usually 0.05) suggests that the data do not meet the MCAR assumption.

### Here, we see that the P value is much greater than 0.05. So we can say that the missing values in the taken dataset are MCAR (Missing completely at random)

## Concerns and Issues Regarding the `missingpy` package.
- This `missingpy` package is deprecated and is no longer in use now.
- It also uses ancient versions of `scikit-learn`, `scipy` and `numpy` package which were releaed on 2018 and are incompatible with Python 3.10 (current version of Python running on Colab)
- Hence, it is impossible to resolve all dependencies and install the `missingpy` package and use it successfully.
- It can be done in a Conda environment where we can specify the Python version along with the libraries we need to install when we are making a new environment.
- The last supported Python version by the `missingpy` package is Python 3.7 and the current version of Python in Google Colab is Python 3.10 and hence, the interoperability between both versions is null.
- However, the functionalities that `missingpy` package provides i.e. `KNNImputer` both have been now added to the `scikit-learn` package and we can use both of those Imputation strategies directly from the `scikit-learn` package without depending on the `missingpy` package.

## we can impute this missing values by using the sklearn library

### KNN Imputation using sklearn

In [75]:
from sklearn.impute import KNNImputer

In [74]:
df.head(3)

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2021-08-05T00:00:00.000,18:17,NaN,NaN,NaN,NaN,NaN,VERRAZANO BRIDGE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4456746,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26T00:00:00.000,16:35,BROOKLYN,11235.0,40.577652,-73.96344,"\n, \n(40.577652, -73.96344)",NaN,NaN,3071 BRIGHTON 4 STREET,...,Unspecified,Unspecified,NaN,NaN,4513878,Station Wagon/Sport Utility Vehicle,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN
2,2022-03-26T00:00:00.000,19:50,MANHATTAN,10012.0,40.730145,-73.99781,"\n, \n(40.730145, -73.99781)",NaN,NaN,60 WASHINGTON SQUARE SOUTH,...,Unspecified,NaN,NaN,NaN,4513735,E-Bike,BOX VAN,NaN,NaN,NaN

In [85]:
df.dtypes

crash_date                        object
crash_time                        object
borough                           object
zip_code                         float64
latitude                         float64
longitude                        float64
location                          object
on_street_name                    object
off_street_name                   object
cross_street_name                 object
number_of_persons_injured          int64
number_of_persons_killed           int64
number_of_pedestrians_injured      int64
number_of_pedestrians_killed       int64
number_of_cyclist_injured          int64
number_of_cyclist_killed           int64
number_of_motorist_injured         int64
number_of_motorist_killed          int64
contributing_factor_vehicle_1     object
contributing_factor_vehicle_2     object
contributing_factor_vehicle_3     object
contributing_factor_vehicle_4     object
contributing_factor_vehicle_5     object
collision_id                       int64
vehicle_type_code1                object
vehicle_type_code2                object
vehicle_type_code_3               object
vehicle_type_code_4               object
vehicle_type_code_5               object
dtype: object

In [86]:
numerical_columns = df.select_dtypes("number").columns.values
numerical_columns

array(['zip_code', 'latitude', 'longitude', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'collision_id'], dtype=object)

In [87]:
knn_imputer = KNNImputer(n_neighbors=2)
df_knn_imputed = pd.DataFrame(knn_imputer.fit_transform(df.select_dtypes("number")), columns=numerical_columns)

print("Imputed Dataset Using KNN:")
print(df_knn_imputed)

Imputed Dataset Using KNN:
       zip_code   latitude  longitude  number_of_persons_injured  \
0       10308.0  40.564820 -74.138407                        0.0
1       11235.0  40.577652 -73.963440                        0.0
2       10012.0  40.730145 -73.997810                        1.0
3       11420.0  40.674780 -73.806206                        0.0
4       11230.0  40.624622 -73.975980                        2.0
...         ...        ...        ...                        ...
99995   10456.0  40.824740 -73.908420                        0.0
99996   11385.0  40.691433 -73.890630                        1.0
99997   11435.0  40.714935 -73.816360                        1.0
99998   10922.5  40.739162 -73.785560                        0.0
99999   10025.5  40.848118 -73.930890                        0.0

       number_of_persons_killed  number_of_pedestrians_injured  \
0                           0.0                            0.0
1                           0.0                            0.0
2                           0.0                            0.0
3                           0.0                            0.0
4                           0.0                            0.0
...                         ...                            ...
99995                       0.0                            0.0
99996                       0.0                            1.0
99997                       0.0                            0.0
99998                       0.0                            0.0
99999                       0.0                            0.0

       number_of_pedestrians_killed  number_of_cyclist_injured  \
0                               0.0                        0.0
1                               0.0                        0.0
2                               0.0                        1.0
3                               0.0                        0.0
4                               0.0                        0.0
...                             ...                        ...
99995                           0.0                        0.0
99996                           0.0                        0.0
99997                           0.0                        0.0
99998                           0.0                        0.0
99999                           0.0                        0.0

       number_of_cyclist_killed  number_of_motorist_injured  \
0                           0.0                         0.0
1                           0.0                         0.0
2                           0.0                         0.0
3                           0.0                         0.0
4                           0.0                         2.0
...                         ...                         ...
99995                       0.0                         0.0
99996                       0.0                         0.0
99997                       0.0                         1.0
99998                       0.0                         0.0
99999                       0.0                         0.0

       number_of_motorist_killed  collision_id
0                            0.0     4456746.0
1                            0.0     4513878.0
2                            0.0     4513735.0
3                            0.0     4513958.0
4                            0.0     4514367.0
...                          ...           ...
99995                        0.0     4545207.0
99996                        0.0     4545635.0
99997                        0.0     4545522.0
99998                        0.0     4545085.0
99999                        0.0     4545553.0

[100000 rows x 12 columns]

## Imputed the missing values for the numerical columns